{% extends 'base.html' %}
{% load staticfiles %}
{% load web_tags %}

{% block main %}		
		
<!--左边导航栏-->
<div class="oleft-nav">
	<div class="oleft-width">
		<div class="oleft-title">服务项目</div>
		<ul class="oleft-nav-item" style="position:relative; margin:0px;padding:0px;">
			<li><a href="{% url 'web:service' %}">环保管家</a></li>
			<li><a href="{% url 'web:sereva' %}">环境影响评价、竣工环境保护验收</a></li>
			<li><a id='adivInit' href="{% url 'web:serproduction' %}">清洁生产</a></li>
			<li><a href="{% url 'web:serask' %}">环保技术咨询</a></li>
			<li><a href="{% url 'web:serdes' %}">土壤环境污染调查</a></li>
		</ul>
	</div>
</div>

<!---右边内容部分-->
<div class="oright-width">
	<div class="oright-title">网站首页&nbsp;&gt;&nbsp;服务项目&nbsp;&gt;&nbsp;清洁生产</div>
	<div class="oright-content">
		<p class="ocontent-main">
			清洁生产是指将综合预防的环境保护策略持续应用于生产过程和产品中，以期减少对人类和环境的风险。清洁生产从本质上来说，就是
			对生产过程与产品采取整体预防的环境策略，减少或者消除它们对人类及环境的可能危害，同时充分满足人类需要，使社会经济效益最大
			化的一种生产模式。
		</p>
		<div style="height:300px;"></div>
	</div>
</div>

{% endblock main %}	