{% extends 'base.html' %}
{% load staticfiles %}
{% load web_tags %}

{% block main %}		
		
<!--左边导航栏-->
<div class="oleft-nav">
	<div class="oleft-width">
		<div class="oleft-title">服务项目</div>
		<ul class="oleft-nav-item" style="position:relative; margin:0px;padding:0px;">
			<li><a href="{% url 'web:service' %}">环保管家</a></li>
			<li><a href="{% url 'web:sereva' %}">环境影响评价、竣工环境保护验收</a></li>
			<li><a href="{% url 'web:serproduction' %}">清洁生产</a></li>
			<li><a href="{% url 'web:serask' %}">环保技术咨询</a></li>
			<li><a href="{% url 'web:serdes' %}">土壤环境污染调查</a></li>
		</ul>
	</div>
</div>
		
<!---右边内容部分-->
<div class="oright-width">
	<div class="oright-title">网站首页&nbsp;&gt;&nbsp;服务项目&nbsp;&gt;&nbsp;环保管家</div>
	<div class="oright-content">
		<p class="ocontent-main">
			业界解读环保管家，“测、管、治”样样精通，专业提供一站式服务，是能够量身定制解决方案且对症全过程重点难点问题的长效机制。
			具体来看，环保管家涵盖了项目立项、选址、环评、监理、技术咨询、政策解读、决策指导以及风险管控等一系列内容。从企业个体出发，或
			者从工业园区整体出发，环保管家都能发挥“专业人士”的作用。这也就是业界常谈到的，“让专业的人做专业的事”。面对在全国领域掀起的环境
			保护风暴，可能很多人对于中央环保督查的印象是深刻。这种对污染“零容忍”，对作假“回头看”的态度更严肃地宣告了环保大时代的来临。使
			用资源需要付费，污染环境需要担责。但是，更多企业处在了知其然而不知其所以然的尴尬境地，导致往往投资良多却收益甚少。由此，企业与
			第三方治理的合作有了重要的意义和价值，大势造就了“环保管家”的上线。<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当然，也有人会问，环保管家固然成为一种第三方治理的可靠模式，但是显然比企业自建自治
			成本要高，这种矛盾要如何解决呢？实则，自建自治不见成效或者难以维序，不管是走弯路带来的损失还是因为使用不当导致的环保处罚，都是不划
			算的。更甚者，从长远角度来看，污染环境的代价提升与引进环保管家治理的成本提升都会指向同一个初衷——倒逼转型和升级。让企业省心，让监管
			不用兜圈子，环保管家这种治理新模式从很多方面来看都有其存在的合理性。也有人称，这种第三方环境治理的升级版本，正在将“谁污染，谁治理”
			转变为“谁污染，谁付费”。两者其实并没有什么不同，污染者负责治理，和污染者负责付费找专业的人治理。一方面，符合“污染者付费”原则，另一
			方面激活了市场动能，提高了环保效率。这也是为什么，这种第三方“一键打包”的方式获得了市场青睐。<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如今，已经有不少地区展开了“环保管家”治理模式的实践探索。如河北高新区，引入第三方，针对
			生活污水、工业废水、工业废气、危险废弃物处置等环节进行综合治理，量身打造智慧管理平台，收获了不错的成效。大连市首家“环保管家”正式落
			户，着力打造集环保咨询、技术服务等多项内容为一体的环保产业链；或者苏州相城，首家托管式环保管家项目在此揭牌，为解决一些错综复杂的
			环境问题，填补地方环保管理短板增添了助益；再如山东省，由有机废气排放和危废管制结缘环保管家，为工业园区“断症抓药”，让企业切身感受
			到了合作的好处。<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作为一个新兴产业，环保管家看似名气不显，其实在“计划赶不上变化”的环保时代，已经具备长
			远发展的投资价值。一部分企业开始触及这个版块，顺藤摸瓜欲抢占先机。但是，环保管家的入业门槛可不低。 <br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;综上所述，“管家”要能管，也就是技术管理都过硬。另外，服务到位、业务覆盖范围广、可随机
			应变的团队够、职业素养高也是作为一个“环保管家”的基本要求。管得了，管得好，这才是环保管家能获得认可的准则。不过，专业人士也提醒称，
			切忌将“环保管家”发展成“环保保姆”，这是违背环境治理宗旨的。促进工业转型，而不是纵容企业排污，环保管家服务要看清定位，正确认知，不能
			从智力密集型的“专家”变成劳动密集型的“帮工”。
		</p>
	</div>
</div>

{% endblock main %}	