@charset "utf-8";
/* CSS Document */

/* 侧边导航*/
.oleft-width{width: 250px;margin: 0px auto;text-align: center;}
.oleft-nav{width:250px;overflow:hidden;background-color: #F5F5F5;float:left;}

/*导航标题*/
.oleft-title{font-size: 16px; text-align: center; height:50px; line-height: 50px; color:white; 
			letter-spacing: 1px;background-color: #68B25D;}

/*导航条目*/
.oleft-nav-item li{height:40px;list-style-type:none;background:url(../images/line2.png) bottom repeat-x;}
.oleft-nav-item li>a{display: block;line-height: 40px;color: black;
	width: 250px;text-align: center;transition: background-color 0.1s ease-in-out;text-decoration: none;}
.oleft-nav-item li>a:hover,
.oleft-nav-item li.current>a{background-color: #68B25D;color:white;}

/* 右边 */
.oright-width{width:700px; float: right;}
.oright-title{background-color: #68B25D;height: 50px;color: white;text-align: left;
	line-height: 50px;overflow: hidden;padding-left: 15px;letter-spacing: 1px;}

/*段落样式*/
.ocontent-main{text-indent: 30px; line-height: 200%; padding: 10px; margin-top: 0px; text-align:justify;padding-top: 30px;}

/*关于云际*/
.ocontent-aboutyunji{ line-height: 200%;padding:0px;margin-top: 0px;}

/*右边条目*/
.orecent-content ul{margin: 0px; padding: 0px; padding-left: 5px; list-style-position: inside; list-style-type: none;}
.orecent-content ul li{position: relative; line-height: 200%; margin-bottom: 10px; text-indent:15px;
	background: url("../images/dot.png") left no-repeat, url("../images/sline.png") bottom repeat-x;}
.orecent-content ul a{ text-decoration: none; color:black; }
.orecent-content ul a:hover{color: #16437E;}
.orecent-content li .list-title{overflow:hidden;}
.orecent-content li .list-time{float: right; padding-right: 5px;}

/* 文章内容 */
.opost {background: #fff;padding: 30px 30px 0;}
.oentry-meta {color: #DDDDDD;font-size: 10px;margin-bottom: 40px;}
.oentry-content {line-height: 1.9;}
.oentry-title{text-align:center;line-height:1.6;}
.oentry-meta{text-align:right;color:#838282;font-size:13px;margin-bottom:20px;}